[flake8]
max-line-length = 100
inline-quotes = "
exclude =
    graphblas/tests/test_formatting.py,
    ssgb,
extend-ignore =
    E203,
    SIM105,
    SIM401,
# E203 whitespace before ':' (to be compatible with black)
per-file-ignores =
    scripts/create_pickle.py:F403,F405,
    graphblas/tests/*.py:T201,
    graphblas/core/ss/matrix.py:SIM113,
    graphblas/**/__init__.py:F401,
