recursive-include graphblas *.py
prune docs
prune scripts
include setup.py
include conftest.py
include README.md
include LICENSE
include MANIFEST.in
include graphblas/graphblas.yaml
include graphblas/tests/pickle*.pkl
