include setup.py
include README.md
include LICENSE
include MANIFEST.in
include versioneer.py
include grblas/_version.py
include grblas/*/*.pxd
include grblas/*/*.pyx
include grblas/backends/suitesparse/*.h
