name: Test imports

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  rngs:
    runs-on: ubuntu-latest
    outputs:
      os: ${{ steps.os.outputs.selected }}
      pyver: ${{ steps.pyver.outputs.selected }}
    steps:
      - name: RNG for os
        uses: ddradar/choose-random-action@v3.0.0
        id: os
        with:
          contents: |
            ubuntu-latest
            macos-latest
            windows-latest
          weights: |
            1
            1
            1
      - name: RNG for Python version
        uses: ddradar/choose-random-action@v3.0.0
        id: pyver
        with:
          contents: |
            3.10
            3.11
            3.12
          weights: |
            1
            1
            1
  test_imports:
    needs: rngs
    runs-on: ${{ needs.rngs.outputs.os }}
    # runs-on: ${{ matrix.os }}
    # strategy:
    #   matrix:
    #     python-version: ["3.10", "3.11", "3.12"]
    #     os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ needs.rngs.outputs.pyver }}
          # python-version: ${{ matrix.python-version }}
      - run: python -m pip install --upgrade pip
      # - run: pip install --pre suitesparse-graphblas  # Use if we need pre-release
      - run: pip install -e .[default]
      - name: Run test imports
        run: ./scripts/test_imports.sh
